In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send an HTTP GET request to the website
url = "https://www.bankrate.com/insurance/homeowners-insurance/states/#state"
response = requests.get(url)
html_content = response.content

# Parse the HTML content
soup = BeautifulSoup(html_content, "html.parser")

# Find the table element that contains the data
table_element = soup.find("table", class_="table-inline")

# Find all rows in the table except the header row
rows = table_element.find_all("tr")[1:]

# Extract the state names and corresponding costs
data = []
for row in rows:
    cells = row.find_all("td")
    state_name = cells[0].text.strip()
    cost = cells[1].text.strip("$")
    data.append({"State": state_name, "Cost": cost})

# Create a DataFrame from the extracted data
df = pd.DataFrame(data)

# Export the DataFrame to a CSV file
output_file = "homeowners_insurance_cost.csv"
df.to_csv(output_file, index=False)

               State   Cost
0            Alabama  1,631
1             Alaska  1,056
2            Arizona  1,268
3           Arkansas  2,123
4         California  1,225
5           Colorado  2,152
6        Connecticut  1,244
7           Delaware    679
8            Florida  1,981
9            Georgia  1,394
10            Hawaii    382
11             Idaho    905
12          Illinois  1,410
13           Indiana  1,225
14              Iowa  1,318
15            Kansas  3,083
16          Kentucky  2,009
17         Louisiana  1,992
18             Maine    947
19          Maryland  1,164
20     Massachusetts  1,199
21          Michigan  1,527
22         Minnesota  1,930
23       Mississippi  1,900
24          Missouri  1,769
25           Montana  1,736
26          Nebraska  2,951
27            Nevada    889
28     New Hampshire    736
29        New Jersey    775
30        New Mexico  1,789
31          New York  1,506
32    North Carolina  1,294
33      North Dakota  1,900
34              Ohio  1,140
35          Oklahoma  3,659
36            Oregon    723
37      Pennsylvania    760
38      Rhode Island  1,233
39    South Carolina  1,172
40      South Dakota  2,105
41         Tennessee  1,755
42             Texas  1,967
43              Utah    696
44           Vermont    658
45          Virginia    887
46        Washington    948
47  Washington, D.C.    893
48     West Virginia  1,125
49         Wisconsin    890
50           Wyoming  1,631